<div class="column-display" [formGroup]="settingsForm">
  <div class="row-display simple section-highlight top-margin-10px">
    <span class="left-margin-10percent right-margin-auto">Изменение пароля</span>
  </div>
  <div class="form" formGroupName="passwordChange">
    <div class="field">
      <span class="field-name">Старый пароль</span>
      <div class="row-display relative-position">
        <input type="password" formControlName="oldPassword" class="password-input paint-light-theme">
        <div class="password-button paint-light-theme"
          [appChangeImage]="['../../../assets/password/hide-password.svg', '../../../assets/password/show-password.svg']">
          <img appShowPassword src="../../../assets/password/show-password.svg"
               alt="hide password" class="small-icon vertical-auto-margin">
        </div>
      </div>
    </div>
    <div class="field">
      <span class="field-name">Новый пароль</span>
      <div class="row-display relative-position">
        <input formControlName="newPassword" class="password-input paint-light-theme">
        <div class="password-button paint-light-theme"
          [appChangeImage]="['../../../assets/password/hide-password.svg', '../../../assets/password/show-password.svg']">
          <img appShowPassword src="../../../assets/password/show-password.svg"
               alt="hide password" class="small-icon vertical-auto-margin">
        </div>
      </div>
      <div class="row-display relative-position top-margin-10px">
        <input formControlName="newPasswordConfirm" class="password-input paint-light-theme">
        <div class="password-button paint-light-theme"
          [appChangeImage]="['../../../assets/password/hide-password.svg', '../../../assets/password/show-password.svg']">
          <img appShowPassword src="../../../assets/password/show-password.svg"
               alt="hide password" class="small-icon vertical-auto-margin">
        </div>
      </div>
    </div>
    <div class="row-display top-margin-20px">
      <input type="button" formControlName="cancel" class="form-button right-margin-auto">
      <input type="submit" formControlName="submit" class="form-button left-margin-auto">
    </div>
  </div>
</div>
