@import "../../app.component.less";

.menu {
  .smooth-animation;
  font-family: @font-family;
  font-size: @font-size;
  border-radius: @border-radius;
}

.page {
  .smooth-animation;
  .horizontal-margin-auto;
  min-width: 300px;
  width: 60%;
  font-family: @font-family;
  font-size: @font-size;
  border-radius: @border-radius;
}

.window {
  display: flex;
  flex-direction: column;
  & img {
    margin: auto;
    width: 90%;
    max-width: 500px;
  }
  &-main {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.centered-text {
  text-align: center;
}
