<div class="column-display">
  <form novalidate [formGroup]="registerForm" (ngSubmit)="submitForm()"
        [ngClass]="{ 'window-light-theme': !darkThemeEnable, 'window-dark-theme': darkThemeEnable }"
        class="form column-display center-aligned">
    <label class="form-field">
      <span class="form-field-text center-aligned bold-text">Login</span>
      <label class="row-display relative-position">
        <input formControlName="login" (change)="checkLogin()" (input)="resetLoadSigns()"
               class="right-icon flex-grow">
        <label class="relative-position column-display right-icon-container remove-left-border">
          <img *ngIf="loginCheckStatus.pending" src="../../../assets/loading_light.gif" alt="load" class="small-icon vertical-auto-margin">
          <img *ngIf="loginCheckStatus.free" src="../../../assets/success_light.ico" alt="load" class="small-icon vertical-auto-margin">
          <img *ngIf="loginCheckStatus.exist" src="../../../assets/error_light.ico" alt="load" class="small-icon vertical-auto-margin">
        </label>
      </label>
    </label>
    <label class="row-display error" *ngIf="registerForm.get('login').invalid && registerForm.get('login').touched">
      <span class="right-aligned message-sign"></span>
      <span class="left-aligned message">{{invalidError[controlStatus(registerForm.get('login'), "login")]}}</span>
    </label>
    <label *ngIf="loginCheckStatus.exist" class="row-display error">
      <span class="right-aligned message-sign"></span>
      <span class="left-aligned message">{{invalidError.loginExistError}}</span>
    </label>
    <label class="form-field">
      <span class="form-field-text center-aligned bold-text">Username</span>
      <input formControlName="username" class="form-field-input">
    </label>
    <label class="row-display error" *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">
      <span class="right-aligned message-sign"></span>
      <span class="left-aligned message">{{invalidError[controlStatus(registerForm.get('username'), "username")]}}</span>
    </label>
    <label class="form-field">
      <span class="form-field-text center-aligned bold-text">Password</span>
      <label class="row-display relative-position">
        <input formControlName="password" type="password" class="form-field-input flex-grow">
        <label class="relative-position column-display right-icon-container set-left-border pointer">
          <img appShowPassword src="../../../assets/hide_password.png"
               [appChangeImage]="['../../../assets/show_password.png', '../../../assets/hide_password.png']"
               alt="load" class="small-icon vertical-auto-margin">
        </label>
      </label>
    </label>
      <label class="form-field">
        <label class="row-display relative-position">
          <input formControlName="passwordAgain" type="password" class="form-field-input flex-grow">
          <label class="relative-position column-display right-icon-container set-left-border pointer">
            <img appShowPassword src="../../../assets/hide_password.png"
                 [appChangeImage]="['../../../assets/show_password.png', '../../../assets/hide_password.png']"
                 alt="load" class="small-icon vertical-auto-margin">
          </label>
        </label>
      </label>
    <label class="row-display error" *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
      <span class="right-aligned message-sign"></span>
      <span class="left-aligned message">{{invalidError[controlStatus(registerForm.get('password'), "password")]}}</span>
    </label>
    <label class="row-display error" *ngIf="registerForm.hasError('doesntMatch')">
      <span class="right-aligned message-sign"></span>
      <span class="left-aligned message">{{invalidError.passwordDoesntMatch}}</span>
    </label>
    <input formControlName="submitButton" type="submit" class="form-submit">
  </form>
</div>
