@import "../../app.component.less";
@font-size: 16px;
@15px-space: 15px;

.empty {
  .horizontal-margin-auto;
  .italic;
}

.unread {
  background: #2f70a7;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.read {
  .smooth-fast-animation;
  background: #2f70a7;
  margin: auto;
  width: 0;
  height: 0;
  border-radius: 100%;
}

.notification {
  .row-display;
  .smooth-animation;
  padding: @space 0;
  margin: @smallest-space 0;
  border-radius: @border-radius;
}

.date-time {
  color: #5b3434;
  margin: auto @space auto auto;
}

.notification-message {
  margin-right: @space;
  line-height: 1.2em;
}

.owner {
  .bold-text;
}

.notification-icon {
  .no-select;
  height: 50px;
  width: 50px;
  margin: auto @space;
}
