<div class="content paint-light-theme">
  <div class="step">
    <span class="step-title">Структура теста</span>
    <button class="help">
      <img src="../../../../assets/other/help.svg" alt="remove" class="help-icon">
    </button>
  </div>
  <div class="step-content" [formGroup]="questionForm">
    <div class="question">
      <span class="margin-auto italic" *ngIf="!selectedQuestion && !testStructure.length">Добавьте вопрос</span>
      <span class="margin-auto italic" *ngIf="!selectedQuestion && testStructure.length">Выберите вопрос в меню справа</span>
      <div *ngIf="selectedQuestion" class="column-display max-height-80prc">
        <div class="question-wording">
          <span class="right-margin-10px">Вопрос #{{testStructure.indexOf(selectedQuestion) + 1}}:</span>
          <textarea formControlName="wording" class="question-wording-input" appResize
                    [placeholder]="messages.wordingQuestion" (focusout)="saveWording()">
        </textarea>
        </div>
        <button class="add-answer-option" (click)="addAnswer()">{{messages.test.addAnswer}}</button>
        <div class="answers" (focusout)="saveAnswers()">
          <span class="italic margin-auto" *ngIf="!answers.length">{{messages.test.emptyAnswers}}</span>
          <div *ngFor="let input of answers; let i = index" formGroupName="answers" class="answer"
               [ngClass]="{'answer-correct': checkCorrectAnswers(i)}">
            <button class="structure-info-question-remove mark" [ngClass]="{'mark-empty': !checkCorrectAnswers(i)}"
                    (click)="markAs(i)">
              <img alt="mark" class="structure-info-question-remove-icon"
                [src]="checkCorrectAnswers(i) ? '../../../assets/other/mark-done.svg'
                 : '../../../assets/other/mark-empty.svg'">
            </button>
            <span class="answer-number">{{i + 1}})</span>
            <textarea [formControlName]="input" class="question-wording-input" appResize
                      [placeholder]="messages.wordingAnswer + (i + 1)">
            </textarea>
            <button class="structure-info-question-remove answer-remove" (click)="removeAnswer(input, i)">
              <img src="../../../../assets/actions/remove.svg" alt="remove" class="structure-info-question-remove-icon">
            </button>
          </div>
        </div>
        <button class="structure-info-question-remove answer-remove">
          <img src="../../../../assets/actions/save.svg" alt="remove" class="structure-info-question-remove-icon">
        </button>
      </div>
    </div>
    <div class="structure">
      <div class="add-question" (click)="addQuestion('free')">
        <span>Добавить вопрос</span>
        <div></div>
      </div>
      <div class="structure-info">
        <span *ngIf="!testStructure.length" class="structure-info-empty">{{messages.test.emptyStructure}}</span>
        <div *ngFor="let question of testStructure; let i = index" class="structure-info-question"
             [ngClass]="{ 'structure-info-chosen-question': question === selectedQuestion }" (click)="selectQuestion(question)">
          <span class="flex-grow vertical-margin-auto">вопрос #{{i + 1}}</span>
          <button class="structure-info-question-remove" (click)="removeQuestion(question)">
            <img src="../../../../assets/actions/remove.svg" alt="remove" class="structure-info-question-remove-icon">
          </button>
        </div>
      </div>
      <input formControlName="submit" type="button" class="next" (click)="nextStep()">
    </div>
  </div>
</div>
