<div class="background" [ngClass]="{'light-theme': !darkThemeEnable, 'dark-theme': darkThemeEnable}">
  <div class="row-display bottom-margin">
    <div class="right-aligned">
      <button *ngIf="showSign" class="sign-up" routerLink="register">Sign up</button>
      <button *ngIf="showSign" class="sign-in" routerLink="login">Sign in</button>
    </div>
<!--    <button class="theme"-->
<!--            [ngClass]="{'light-theme-button': !darkThemeEnable, 'dark-theme-button': darkThemeEnable}"-->
<!--            (click)="toggleTheme()">-->
<!--      <span class="theme-icon" *ngIf="darkThemeEnable">💡</span>-->
<!--      <span class="theme-icon" *ngIf="!darkThemeEnable">🌙</span>-->
<!--    </button>-->
  </div>
  <router-outlet>
  </router-outlet>
  <div class="fixed-bottom vertical-small-padding row-display">
    <span class="center-aligned">~ {{specialSign}}</span>
  </div>
</div>
<div [ngClass]="{'popup-transparent-light': !darkThemeEnable, 'popup-transparent-dark': darkThemeEnable}"
     *ngIf="loading | async" class="load-popup">
  <div [ngClass]="{'load-icon-transparent-light': !darkThemeEnable, 'load-icon-transparent-dark': darkThemeEnable}"
       class="center-aligned column-display load-icon">
    <img [src]="darkThemeEnable ? '../assets/onload_dark.gif' : '../assets/onload.gif'"
         alt="loading" class="load-image">
    <span [ngClass]="{'load-phrase-text-light': !darkThemeEnable, 'load-phrase-text-dark': darkThemeEnable}"
          class="center-aligned font-set load-phrase">Подождите</span>
  </div>
</div>
