<div class="row-display">
  <form novalidate [formGroup]="openTestForm" (submit)="saveQuestion()"
        class="column-display center-aligned creator-field flex-grow">
    <span class="italic">Вопрос #{{testUnits.length + 1}}</span>
    <label class="">
      <input [appClearInputTips]="{control: openTestForm.get('question'), message: testMessages.questionTip}"
             formControlName="question"
             class="test-data-input">
    </label>
    <input type="button" formControlName="addAnswer" (click)="addAnswer()" class="add-field-button">
    <div formGroupName="answerOptions" class="column-display answer-options-table">
      <div class="row-display" *ngFor="let answer of answerNames">
        <button (click)="setCorrectAnswer('answerOptions.' + answer)"
                [ngClass]="{
                'clickable-radio': openTestForm.get('answerOptions.' + answer).valid,
                'chosen-radio': 'answerOptions.' + answer === openTestForm.get('correctAnswer').value,
                'simple-radio': 'answerOptions.' + answer !== openTestForm.get('correctAnswer').value
                }"
                class="choice-square">
        </button>
        <input
          [appClearInputTips]="{control: openTestForm.get('answerOptions.' + answer), message: testMessages.answerTip}"
          [formControlName]="answer"
          class="test-data-input flex-grow">
        <button (click)="removeAnswer(answer)" class="remove-button"></button>
      </div>
    </div>
    <input formControlName="complete" type="submit" class="save-answer-button">
  </form>
  <div class="column-display h-center-align">
    <span class="">Список вопросов</span>
    <span *ngIf="!testUnits.length" class="h-center-align">&lt; пусто &gt;</span>
    <div *ngFor="let unit of testUnits; let i = index">
      <span>Вопрос #{{i + 1}}</span>
    </div>
  </div>
</div>
