@import "../../../app.component.less";
@import "../education.component.less";
@red: #c79090;
@yellow: #c4c790;
@green: #91c790;

.red-back {
  background: @red;
}

.red-hover {
  &:hover {
    .red-back;
  }
}

.green-back {
  background: @green;
}

.green-hover {
  &:hover {
    .green-back;
  }
}

.yellow-back {
  background: @yellow;
}

.yellow-hover {
  &:hover {
    .yellow-back;
  }
}

.task-tile {
  .relative-position;
  .column-display;
  width: 130px;
  height: 180px;
  float: left;
  margin: @smallest-space @small-space;

  &:hover {
    .pointer;

    & .task-tile-params {
      visibility: visible;
    }
  }

  &-params {
    .column-display;
    position: absolute;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    border-radius: @border-radius;

    &-item {
      .row-display;
      margin: auto 0 auto @space;

      &-icon {
        width: 1em;
        height: 1em;
        margin-right: @small-space;
      }
    }
  }

  &-info {
    .row-display;
    .relative-position;
    margin: @small-space auto;
    height: 90px;
    width: 90px;

    &-icon {
      .large-icon;
      margin: 0 auto;
    }
  }

  &-status {
    .row-display;
    padding: @smallest-space;
    position: absolute;
    right: 5px;
    bottom: 0;
    min-width: 20px;
    border-radius: @border-radius;
    border: 2px solid black;

    &-icon {
      .no-select;
      width: 1.5em;
    }
  }

  &-title {
    overflow-y: hidden;
    height: 3em;
    text-align: center;
    margin: @smallest-space auto;
  }

  &-button {
    .smooth-fast-animation;
    .button;
    font-size: 16px;
    padding: @medial-space;
    margin: 0 @smallest-space;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: @border-radius;
    background: rgba(0, 0, 0, 0.05);

    &:hover {
      border-color: black;
    }
  }
}

.popup {
  .column-display;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.29);
  z-index: 2;

  &-close {
    .smooth-animation;
    .no-select;
    .row-display;
    outline: none;
    border: none;
    border-bottom-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
    background: transparent;
    padding: @small-space;
    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }

    &-icon {
      .no-select;
      .margin-auto;
      width: 1.1em;
    }
  }

  &-content {
    .column-display;
    min-width: 300px;
    width: 35%;
    min-height: 325px;
    background: white;
    border-radius: @border-radius;
    margin: auto;
  }
}

.task {
  .row-display;
  padding: @small-space 0 @space 0;
  &-type {
    .smooth-animation;
    .no-select;
    .column-display;
    .horizontal-margin-auto;
    min-width: 120px;
    width: 25%;
    border-radius: @border-radius;
    padding: @small-space;

    &-title {
      font-size: @font-size;
      text-align: center;
    }

    &-icon {
      .no-select;
      .large-icon;
      .margin-auto;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }
  }
}

.description {
  .row-display;
  padding: @small-space @space @space @space;
  text-align: center;
  &-text {
    margin: auto;
    width: 80%;
  }
}
