<div class="content paint-light-theme">
  <div class="row-display">
    <div class="column-display flex-grow">
      <div *ngFor="let student of studentsList" class="row-display flex-grow">
        <span>{{student.status}}</span>
        <span (click)="assign(student._id)">{{student.username}}</span>
      </div>
    </div>
    <div class="column-display">
      <span *ngIf="!assignedList.length">не выбрано</span>
      <div *ngFor="let student of assignedList">
        <span (click)="disAssign(student._id)">{{student.username}}</span>
      </div>
    </div>
  </div>
  <button (click)="complete()" class="left-margin-auto">Сохранить</button>
</div>
