@import "../../app.component.less";
@import "../sign-up-form/sign-up-form.component.less";
@auth-error-background: #bf9494;

.auth-error {
  margin-bottom: @small-space;
  padding: @small-space @space;
  min-width: @form-width;
  width: 25%;
  border-radius: @border-radius;
  border: 1px solid darken(@auth-error-background, 5%);
  background: @auth-error-background;
  color: @white-text-color
}

.message {
  &-sign {
    &::before {
      content: "⚠";
      text-align: center;
      color: @white-text-color;
      margin-right: @small-space;
    }
  }
}

