@import "../../app.component.less";
@input-width: 170px;
@small-input-width: 100px;
.form {
  .horizontal-padding;
  &-field {
    .column-display;
    .vertical-small-padding;
    &-input {
      width: @input-width;
      outline: none;
    }
  }
  &-submit {
    .button;
    background: @light-brown-color;
    border-color: @light-brown-color;
    color: @white-text-color;
  }
}

.error {
  .horizontal-small-margin;
  padding: @smallest-space @small-space;
  border-radius: @border-radius;
  background: @error-background-color;
  max-width: @input-width + @space;
  color: @error-text-color;
}

.message {
  &-sign {
    &::before {
      content: "⚠";
      text-align: center;
      color: @error-text-color;
      margin-right: @small-space;
    }
  }
}
