<div *ngIf="userExist" class="row-display user-data">
<!--      <a class="link center-aligned" routerLink="">← вернуться</a>-->
  <div class="column-display">
    <div [ngClass]="{'window-light-theme': !darkTheme, 'window-dark-theme': darkTheme}"
         class="column-display right-aligned plate avatar">
      <img [src]="user.status === 'god'
       ? '../../../assets/standard-avatars/doggy.svg'
       : user.status === 'developer'
        ? '../../../assets/standard-avatars/developer.svg'
        : '../../../assets/standard-avatars/simple.svg'"
           alt="cat" class="user-data-ico no-select">
      <span [appSetStatus]="{status: user.status, darkTheme: darkTheme}"
            class="center-aligned status">{{user.status}}</span>
      <span class="user-data-username center-aligned">{{user.username}}</span>
    </div>

<!--      <div (click)="showPopup()" [ngClass]="{'button-light-theme': !darkTheme, 'button-dark-theme': darkTheme}"-->
<!--           class="row-display control-button last-button">-->
<!--        <span class="flex-grow centered-text">Удалить</span>-->
<!--&lt;!&ndash;        <img src="../../../assets/edit.png" alt="edit" class="small-icon">&ndash;&gt;-->
<!--      </div>-->
  </div>
  <app-popup-confirm *ngIf="askConfirm" (chosen)="deleteUser($event)"
                     [question]="confirmMessages.deleteAccountQuestion"
                     [info]="confirmMessages.deleteAccountInfo"
                     [confirm]="confirmMessages.deleteAccountConfirm"
                     [cancel]="confirmMessages.deleteAccountCancel">
  </app-popup-confirm>
  <div [ngClass]="{'window-light-theme': !darkTheme, 'window-dark-theme': darkTheme}"
       class="column-display router flex-grow small-right-margin">
    <router-outlet></router-outlet>
  </div>
</div>
