@import "../../app.component.less";

// temporary styles
.user-data {
  margin-top: @space;
  &-ico {
    height: 100px;
    width: 100px;
  }
  &-username {
    padding-top: @small-space;
    font-weight: bold;
  }
}

.message {
  margin-top: @space;
  padding-left: @small-space;
  text-align: left;
  font-weight: bold;
}

.part {
  font-weight: lighter;
}
