@import "../../app.component.less";

// temporary styles
.user-data {
  margin-left: 10%;
  margin-top: @space;
  &-ico {
    height: 100px;
    width: 100px;
  }
  &-username {
    padding-top: @small-space;
    font-weight: bold;
  }
}

.message {
  text-align: center;
  height: 100px;
  width: 400px;
  font-weight: bold;
}

.part {
  font-weight: lighter;
}
