<div class="row-display right-margin-auto">
  <div routerLink="tasks" routerLinkActive="chosen-link"
       [queryParams]="queryParams"
       class="row-display last-link first-link link">
    <button class="link-button">Задания</button>
  </div>
</div>
<div class="content paint-light-theme">
  <div class="panel">
    <div class="settings flex-grow">
      <div class="settings-control">
        <img src="../../../assets/icons/actions/controls.svg" alt="settings" class="settings-control-img">
      </div>
      <div class="settings-control left-margin-20px">
        <img src="../../../assets/icons/actions/filter.svg" alt="filter" class="settings-control-img">
      </div>
      <div class="settings-control">
        <img src="../../../assets/icons/actions/sort.svg" alt="sort" class="settings-control-img">
      </div>
      <div class="settings-control">
        <img src="../../../assets/icons/actions/search.svg" alt="search" class="settings-control-img">
      </div>
      <div class="settings left-margin-auto right-margin-20px">
        <div [ngClass]="options.view + '-view'" class="chosen-view-mark"></div>
        <div class="settings-views" (click)="toTile()">
          <img src="../../../assets/icons/actions/tile.svg" alt="tile" class="settings-control-img">
        </div>
        <div class="settings-views" (click)="toTable()">
          <img src="../../../assets/icons/actions/list.svg" alt="list" class="settings-control-img">
        </div>
      </div>
    </div>
    <button *ngIf="userType && userType !== 'student'" class="add-button left-margin-auto" (click)="create()">
      <span class="button-action">{{educationMessages[section]["add"]}}</span>
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
<!--<form [formGroup]="fileUploadForm" class="row-display" enctype="multipart/form-data">-->
<!--  <input type="file" (input)="fileUpload($event)">-->
<!--  <input formControlName="submit" type="submit">-->
<!--</form>-->
